<!-- <ion-header [translucent]="true"> -->
  

<ion-content [fullscreen]="true">
  <div style="text-align: center; margin: 15px;">
    <ion-label style="font-weight: 400; font-size: 1.5em;">Pronostico del tiempo</ion-label>
  </div>
  <ion-searchbar [(ngModel)]="nombreCiudad" (ngModelChange)="loadData()" class="searchBar" placeholder="Busca una ciudad" animated></ion-searchbar>

   <ion-card class="cardStyle">
    <ion-item lines="none">
      <p style="font-weight: 500; color: white;">Tiempo de hoy</p>
      <ion-label slot="end">{{todayDate | date: "EEE dd MMM"}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <span id="temp">
      {{(weatherTemp?.temp - 273.15).toFixed(0)}}
    </span>
    <span style="font-size: 1.3em; font-weight: bold; color:#F6B844 ; margin-bottom:25px ;">°C</span>
    <img slot="end" width="170px" height="170px" [src]=weatherIcon >
    </ion-item>
    <ion-item>
      <ion-icon id="locationIcon" name="location"></ion-icon>
        <span>
          {{nombreCiudad}}
        </span>
    </ion-item>
   </ion-card>
   <ion-card class="cardStyle">
    <ion-item>
      <span>Temperatura Maxima</span>
      <span slot="end">{{(weatherTemp.temp_max - 273.15).toFixed(0)}}°C</span>
    </ion-item>
    <ion-item>
      <span>Temperatura Minima</span>
      <span slot="end">{{(weatherTemp.temp_min - 273.15).toFixed(0)}}°C</span>
    </ion-item>
    <ion-item>
      <span>Humedad</span>
      <span slot="end">{{weatherTemp.humidity}}%</span>
    </ion-item>
   </ion-card>
</ion-content>
