<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" color="dark"></ion-menu-button>
    <ion-button slot="start" fill="clear" color="dark" href="/folder/inbox"><ion-icon name="arrow-back" ></ion-icon></ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>Nombre del curso</ion-col>
      <ion-col>% Asistencia</ion-col>
    </ion-row>
    <ion-row>
    <ion-col class="asis"> Ingles</ion-col>
    <ion-col class="asis">100%</ion-col>
  </ion-row>
  </ion-grid>
  
</ion-content>
